@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f49e3f !important;
  }
.custom-cardheight {
    min-height: 275px;
}
.invalid-feedback{
    display: block;
}